@import url('https://fonts.googleapis.com/css2?family=Cascadia+Code:ital@0;1&display=swap');

* {
  box-sizing: border-box;
  font-size: 1em;
  font-family: inherit;
}

html {
  font-family: "Cascadia Code";
  font-size: 16px;
  color-scheme: light dark;
}

body {
  margin: 0;
  display: grid;
  grid-template-rows: min-content auto min-content;
  min-height: 100vh;
}

main {
  height: 100%;
  display: flex;

  flex-direction: column;
  gap: 1em;
  justify-content: center;
  align-items: center;
}

textarea {
  min-height: 100px;
  min-width: 50px;
  max-width: 90vw;
}

header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  justify-content: space-between;
  background-color: Field;

  h1 {
    font-size: calc(min(3rem, 4vw));
    text-wrap: nowrap;
    margin: 0;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    font-size: 2rem;
    text-decoration: none;
    color: inherit;
  }
}

footer {
  padding: 1em;
  text-align: center;

  ul {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
    margin: 0;

    li {
      list-style: none;

      a {
        text-wrap: nowrap;
      }

      &:not(:last-child)::after {
        display: inline;
        content: '•';
        margin: 1em;
      }
    }
  }
}

[role="toolbar"] {
  width: 100%;
  max-width: 570px;

  display: flex;
  gap: 1em;

  input[type="range"] {
    width: min(100%, 200px);
    margin-inline-start: auto;
  }
}
