@import url('https://fonts.googleapis.com/css2?family=Cascadia+Code:ital@0;1&display=swap');

* {
  box-sizing: border-box;
  font-size: 1em;
  font-family: inherit;
  text-transform: lowercase;
}

input, textarea, a, code, abbr, samp {
  text-transform: none;
}

:root {
  font-family: "Cascadia Code", monospace, sans-serif;
  font-size: 16px;
  color-scheme: light dark;
}

body {
  margin: 0;
  display: grid;
  grid-template-rows: min-content auto min-content;
  min-height: 100vh;
}

main {
  height: 100%;
  display: flex;

  flex-direction: column;
  gap: 1em;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 2.5rem;
}

mark {
  cursor: pointer;
  text-transform: none;
  background: none;
  color: inherit;
  --glow: orchid;
  text-shadow:
    0 0 2px var(--glow),
    0 0 4px var(--glow),
    0 0 8px var(--glow),
    0 0 16px var(--glow);
}

.copy-anim {
  text-transform: none;
  pointer-events: none;
  position: absolute;

  animation: 1s ease-out 1 copy-anim;
}

@keyframes copy-anim {
  to {
    translate: 0 -50px;
    scale: 3;
    opacity: 0;
  }
}

section:has(> h2:first-child) {
  max-width: 900px;
}

section:has(> h3:first-child) {
  border: 1px solid ButtonBorder;
  position: relative;
  padding: 1.5em;
  margin-block: 2em;

  h3 {
    font-size: 1.5rem;
    position: absolute;
    top: -0.5em;
    margin: 0;
    padding: 0.25em;
    border: inherit;
    background: Canvas;
  }
}

section:has(> h4:first-child) {
  margin-block-start: 1.5em;

  display: flex;
  flex-wrap: wrap;
  align-items: middle;
  row-gap: 0.5em;
  
  h4 {
    width: 100%;
    font-size: 1.25rem;
    margin: 0;
  }

  p {
    margin: 0;
    margin-inline-start: 2em;
    width: 100%;
  }

  button {
    height: 2em;
    margin-inline: 2em 1em;
    vertical-align: middle;
  }

  input {
    height: 2em;
    width: auto;
    vertical-align: middle;
    flex-grow: 1;
  }
}

textarea {
  min-height: 100px;
  min-width: 50px;
  max-width: 90vw;
}

header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  justify-content: space-between;
  background-color: Field;

  h1 {
    font-size: calc(min(3rem, 4vw));
    text-wrap: nowrap;
    margin: 0;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    font-size: 2rem;
    text-decoration: none;
    color: inherit;
  }
}

footer {
  padding: 1em;
  text-align: center;

  ul {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
    margin: 0;

    li {
      list-style: none;

      a {
        text-wrap: nowrap;
      }

      &:not(:last-child)::after {
        display: inline;
        content: '•';
        margin: 1em;
      }
    }
  }
}

[role="toolbar"] {
  width: 100%;
  max-width: 570px;

  display: flex;
  gap: 1em;

  input[type="range"] {
    width: min(100%, 200px);
    margin-inline-start: auto;
  }

  &.palette {
    width: min-content;
  }
}
