@import url('https://fonts.googleapis.com/css2?family=Cascadia+Code:ital@0;1&display=swap');

* {
  box-sizing: border-box;
  font-size: 1em;
  font-family: inherit;
  text-transform: inherit;
}

math {
  font-family: initial;
}

:root {
  font-family: "Cascadia Code", monospace, sans-serif;
  font-size: 16px;
  color-scheme: light dark;

  &:has(#theme-dark:checked) {
    color-scheme: only dark;
  }

  &:has(#theme-light:checked) {
    color-scheme: only light;
  }

  &:has(#lowercase:checked) {
    text-transform: lowercase;
  }
}

input, textarea, a, code, abbr, samp, mark, .copy-anim {
  text-transform: none;
}

.hidden {
  display: none !important;
}

body {
  margin: 0;
  display: grid;
  grid-template-rows: min-content auto min-content;
  min-height: 100vh;
}

main {
  height: 100%;
  display: flex;
  margin-inline: 1em;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}

audio {
  position: fixed;
  z-index: 100;
  opacity: 1;
  left: 50%;
  bottom: 1em;
  width: min(100vw, 720px);
  max-height: 40px;

  translate: -50% 0;

  transition: translate 0.2s ease-out;
  &:not([src]) {
    translate: -50% 100px;
  }
}

audio[src] ~ footer {
  margin-block-end: 3rem;
}

h2 {
  font-size: 2.5rem;
}

mark {
  cursor: pointer;
  background: none;
  color: inherit;
  --glow: orchid;
  text-shadow:
    0 0 2px var(--glow),
    0 0 4px var(--glow),
    0 0 8px var(--glow),
    0 0 16px var(--glow);
}

.copy-anim {
  pointer-events: none;
  position: absolute;

  animation: 1s ease-out 1 forwards copy-anim;
}

@keyframes copy-anim {
  to {
    translate: 0 -50px;
    scale: 3;
    opacity: 0;
  }
}

aside {
  float: inline-end;
  width: 200px;
  margin-inline-start: 0.25em;
  border-inline-start: 3px solid currentColor;
  padding-inline-start: 1em;
  padding-block: 0.4em;
}

small {
  font-size: 0.75rem;
  opacity: 0.65;
  display: block;
}

section:has(> h2:first-child) {
  max-width: 960px;

  h2 {
    margin-block: 0.5em;
  }

  h2 + small {
    position: relative;
    top: -1rem;
  }
}

section:has(> h3:first-child) {
  border: 1px solid ButtonBorder;
  position: relative;
  padding: 1.5em;
  margin-block: 2em 0;

  h3 {
    font-size: 1.5rem;
    position: absolute;
    top: -0.5em;
    margin: 0;
    padding: 0.25em;
    border: inherit;
    background: Canvas;
  }
}

section:has(> h4:first-child) {
  margin-block-start: 1.5em;

  flex-wrap: wrap;
  align-items: middle;
  row-gap: 0.5em;
  
  h4 {
    font-size: 1.25rem;
    margin-block: 0;

    mark {
      width: 2rem;
      display: inline-block;
    }
  }

  > :not(h4) {
    margin-inline-start: 2rem;
  }

  p {
    margin-block: 1em;
  }

  div {
    margin-block-start: 1em;

    display: flex;
    gap: 1em;

    input {
      height: 2em;
      vertical-align: middle;
      flex-grow: 1;
    }

    button {
      height: 2em;
      vertical-align: middle;
    }
  }
}

textarea {
  min-height: 100px;
  min-width: 50px;
  max-width: 90vw;
  margin-block: 1rem;
}

header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  justify-content: space-between;
  background-color: Field;

  h1 {
    font-size: calc(min(3rem, 4vw));
    text-wrap: nowrap;
    margin: 0;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    font-size: 2rem;
    text-decoration: none;
    color: inherit;
  }
}

footer {
  padding: 1em;
  text-align: center;

  ul {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
    margin: 0;

    li {
      list-style: none;

      a {
        text-wrap: nowrap;
      }

      &:not(:last-child)::after {
        display: inline;
        content: '•';
        margin: 1em;
      }
    }
  }
}

[role="toolbar"] {
  width: max-content;

  display: flex;
  margin-block: 1rem;
  gap: 1em;

  input[type="range"] {
    width: min(100%, 200px);
    margin-inline-start: auto;
  }
}

[role="radiogroup"] {
  display: inline-table;
  border-collapse: collapse;
  border: none;
  padding: 0;

  input {
    opacity: 0;
    position: absolute;
  }
}

#visual-settings {
  border: 1px solid ButtonBorder;
  padding: 1em;
  display: flex;
  align-items: center;

  label {
    user-select: none;
    display: table-cell;
    border: 1px solid ButtonBorder;
    padding: 0.5em;

    &:has(:checked) {
      background: light-dark(#e7e7f7, #334);
    }
    &:hover {
      background: light-dark(#eef, #272734);
      &:has(input:checked) {
        background: light-dark(#d6d6ef, #445);
      }
    }
    &:active:active:active {
      background: light-dark(#cce, #557);
    }
  }
}
